[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/davidhampgonsalves/hugo-black-and-light-theme.git
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = https://github.com/dplesca/purehugo.git
